<div class="row-fluid">
  <div class="span1">
    <address><%= commit.sha[0..9] %></address>
  </div>
  <div class="span1">&nbsp;</div>
  <div class="span10 well">
    <%= md commit.message %>
  </div>
</div>
