<div class="row-fluid">
  <div class="span1">
    <address>
      <% if (build = @repository.builds.where(commit: commit).first) %>
        <%= link_to commit.id[0..9], [@project, @repository, build] %>
      <% else %>
        <%= commit.id[0..9] %>
      <% end %>
    </address>
  </div>
  <div class="span1">&nbsp;</div>
  <div class="span10 well">
    <%= md commit.message %>
  </div>
</div>
