<li>
  <span class="pull-right"><%= link_to [ repo.project, repo ], method: :delete, confirm: "4 real?" do %><i class="icon icon-trash"></i><% end %></span>
<%= link_to repo.name, [ repo.project, repo ] %> - <small><%= repo.uri %></small>
  <br />
  <em class="small"><%= md repo.summary %></em>
</li>
