<h2>Projects</h2>
<%= render partial: "home/project", collection: @projects %>
<%= paginate @projects %>

<br />
<br />

<%= link_to new_project_path, class: "btn btn-success" do %>
  <i class="icon icon-white icon-plus"></i> New project
<% end %>

<%= live_updates %>
