@import "twitter/bootstrap";

@monoFontFamily: "Ubuntu Mono", 'Bitstream Vera Sans Mono', 'Courier', monospace;
@sansFontFamily: "Ubuntu", "Helvetica Neue", Helvetiva, Arial, sans-serif;

.failing {
  color: @red;
}

.passing {
  color: @green;
}

.building {
  color: @yellow;
}

ul.no-jump {
  margin-left: 0;
  li { margin: 0; padding: 0; }
}
