@import "twitter/bootstrap";

@monoFontFamily: "Ubuntu Mono", 'Bitstream Vera Sans Mono', 'Courier', monospace;
@sansFontFamily: "Ubuntu", "Helvetica Neue", Helvetiva, Arial, sans-serif;

.failing {
  color: @red;
}

.passing {
  color: @green;
}

.building {
  color: @yellow;
}

